
<footer class=\"footer\">
    <div class=\"container\">
        <div class=\"footer__grid\">
            <div>
                <a href=\"index.html\" class=\"footer__brand\"><i class=\"fa-solid fa-plane-departure\"></i> Voyagio</a>
                <p class=\"footer__desc\">Discover handpicked tour-packages and curated tour packages around the world. Travel confidently with Voyagio.</p>
                <div class=\"footer__socials\">
                    <a href=\"#\" aria-label=\"Facebook\"><i class=\"fa-brands fa-facebook-f\"></i></a>
                    <a href=\"#\" aria-label=\"Instagram\"><i class=\"fa-brands fa-instagram\"></i></a>
                    <a href=\"#\" aria-label=\"Twitter\"><i class=\"fa-brands fa-x-twitter\"></i></a>
                    <a href=\"#\" aria-label=\"YouTube\"><i class=\"fa-brands fa-youtube\"></i></a>
                </div>
            </div>
            <div>
                <h3 class=\"footer__title\">Explore</h3>
                <ul class=\"footer__list\">
                    <li><a href=\"pages/tour-packages.html\">Tour Packages</a></li>
                    <li><a href=\"pages/about.html\">About Us</a></li>
                    <li><a href=\"pages/contact.html\">Contact</a></li>
                </ul>
            </div>
            <div>
                <h3 class=\"footer__title\">Support</h3>
                <ul class=\"footer__list\">
                    <li><a href=\"#faq\">FAQ</a></li>
                    <li><a href=\"pages/contact.html\">Help Center</a></li>
                    <li><a href=\"#\">Cancellation Policy</a></li>
                    <li><a href=\"#\">Terms & Privacy</a></li>
                </ul>
            </div>
            <div>
                <h3 class=\"footer__title\">Contact</h3>
                <ul class=\"footer__list\">
                    <li><i class=\"fa-solid fa-location-dot\"></i> 42 Palm Avenue, Colombo</li>
                    <li><i class=\"fa-solid fa-phone\"></i> +94 771 234 567</li>
                    <li><i class=\"fa-solid fa-envelope\"></i> hello@voyagio.travel</li>
                </ul>
            </div>
        </div>
        <div class=\"footer__bottom\">
            <p>&copy; <span id=\"year\">2025</span> Voyagio. All rights reserved.</p>
            <p>Crafted for wanderers.</p>
        </div>
    </div>
</footer>
